<div class="h-full bg-gray-100">
  <main class="mx-auto max-w-7xl pb-10 lg:px-8 lg:py-12">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
      <%= render "profiles/sidebar" %>
      <!-- Payment details -->
      <div class="space-y-6 sm:px-6 lg:col-span-9 lg:px-0">
        <section aria-labelledby="payment-details-heading">
          <div class="bg-white pt-6 shadow sm:overflow-hidden sm:rounded-md">
            <div class="px-4 sm:px-6">
              <h2 id="billing-history-heading" class="text-lg font-medium leading-6 text-gray-900">Favorited properties</h2>
            </div>
            <div class="mx-auto max-w-7xl pb-10 lg:px-8 lg:py-12">
              <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8 divide-y divide-gray-100">
                <% @favorites.each do |favorite| %>
                  <li class="relative">
                    <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg  focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
                      <%= link_to flat_path(favorite.flat), class: "" do %>
                        <%= cl_image_tag favorite.flat.default_image.key, alt: "Image of #{favorite.flat.name}", class: " pointer-events-none object-cover group-hover:opacity-75" %>
                      <% end %>
                    </div>
                    <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900"><%= favorite.flat.title %></p>
                    <p class="pointer-events-none block text-sm font-medium text-gray-500"><%= favorite.flat.address %></p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
