<%= link_to flat_path(flat) do %>
<li class="relative"
    data-geolocation-target="flat"
    data-google-maps-target="flat"
    data-latitude="<%= flat.latitude %>"
    data-longitude="<%= flat.longitude %>"
>
  <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2">
  <% if flat.images.attached? %>
    <%= cl_image_tag flat.default_image.key, alt: "Image of #{flat.name}", class: "rounded-lg object-cover pointer-events-none group-hover:opacity-75" %>
  <% else %>
    <%= image_tag "https://source.unsplash.com/1600x900/?#{flat.address}", alt: "Random image for #{flat.address}", class: "rounded-lg object-cover pointer-events-none group-hover:opacity-75" %>
  <% end  %>
    <button type="button" class="absolute inset-0 focus:outline-none">
      <span class="sr-only"></span>
    </button>
    <div class=" flex flex-row-reverse p-3 ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        data-favorite-color="red"
        data-unfavorite-color="rgba(0, 0, 0, 0.5)"
        fill="<%= flat.favorited_by?(current_user) ? 'red' : 'rgba(0, 0, 0, 0.5)' %>"
        data-controller="favorite"
        data-action="click->favorite#favorite"
        data-user-logged-in="<%= user_signed_in? %>"
        data-user-id="<%= current_user&.id %>"
        data-favorited="<%= flat.favorited_by?(current_user) %>"
        data-flat-id="<%= flat.id %>"
        data-favorite-id="<%= flat.favorites.find_by(user: current_user)&.id %>"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-white cursor-pointer "
        >
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
        </svg>
    </div>
  </div>
  <p class="mt-2 mb-2 flex items-center justify-between text-sm font-medium text-gray-900 truncate pointer-envents-none">
    <%= flat.address_by_coordinates_for_index %>
    <span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 inline-block relative" style="bottom: 2px">
      <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
    </svg>
    <span class=" text-base font-light ">
      <% if flat.reviews.count < 1 %>
        No reviews yet
      <% else %>
        <%= flat.average_rating.to_f.round(2) %>
      <% end %>
    </span>
    </span>
    </p>
  <p class="block text-sm font-medium text-gray-500 pointer-events-none">
    <%= flat.address %>
  </p>
  <p data-distance class="block text-sm font-medium text-gray-500 pointer-events-none"></p>
  <p class="block text-sm font-medium text-gray-500 pointer-events-none"><%= flat.available_dates %></p>
  <p class="block text-sm mt-3 font-medium text-gray-900 pointer-events-none"><span class="font-semibold"><%= currency_symbol %> <%= humanized_money(flat.price) %></span> night</p>
</li>
<% end %>
