<div class="h-full bg-gray-100">
  <main class="mx-auto max-w-7xl pb-10 lg:px-8 lg:py-12">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
      <%= render "profiles/sidebar" %>
      <!-- Payment details -->
      <div class="space-y-6 sm:px-6 lg:col-span-9 lg:px-0">
        <section aria-labelledby="payment-details-heading">
          <div class="bg-white pt-6 shadow sm:overflow-hidden sm:rounded-md">
            <div class="px-4 sm:px-6">
              <h2 id="billing-history-heading" class="text-lg font-medium leading-6 text-gray-900">Reviews section</h2>
            </div>
            <div class="mx-auto max-w-7xl pb-10 lg:px-8 lg:py-12">
              <ul role="list" class="divide-y divide-gray-100">
                <% @reviews.each do |review| %>
                  <li class="flex items-center justify-between gap-x-6 py-5 divide-y divide-gray-200 hover:bg-gray-100">
                    <div class="min-w-0">
                      <div class="flex items-start gap-x-3">
                        <p class="text-sm font-semibold leading-6 text-gray-900"><%= review.title %></p>
                      </div>
                      <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                        <p class="whitespace-nowrap"><%= review.description %></p>
                        <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                          <circle cx="1" cy="1" r="1" />
                        </svg>
                        <p class="truncate"><%= review.rating %>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3 inline-block relative" style="bottom: 2px">
                            <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
                          </svg>
                        </p>
                      </div>
                    </div>
                    <div class="flex flex-none items-center gap-x-4">
                      <%= link_to "View property", flat_path(review.reviewable) , class: "hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
